.btn-pink {
    color: #fff !important;
    background-color: $primary-pink !important;
    border: 2px solid $primary-pink !important;
    font-weight: 600 !important;
    transition: all 0.3s !important;
    
    &:hover {
        color: $primary-pink !important;
        background-color: transparent !important;
        box-shadow: 0 0 6px 0 $primary-pink !important;
    }
    &:hover .badge-position {
        transform: rotate(360deg);
    }
}

.btn-transparent {
    color: $primary-pink !important;
    background-color: transparent !important;
    border: 2px solid $primary-pink !important;
    font-weight: 600 !important;
    transition: all 0.3s !important;
    &:hover {
        color: #fff !important;
        background-color: $primary-pink !important;
        box-shadow: 0 0 6px 0 $primary-pink !important;
    }
}