//Image Utilities
.icon {
    width: 30px;
    height: 30px;
    margin: 0 8px;
}

.img-apartment {
    width: 100%;
    height: 200px;
}

// Sponsorship Utilities
.card-hover {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}
