//Image Utilities
.icon {
    width: 30px;
    height: 30px;
    margin: 0 8px;
}

.list-none {
    list-style: none;
}

.badge-position {
    top: -10px !important;
    right: -13px;
    font-size: 1rem !important;
    background-color: #fff !important;
    transition: all 0.3s !important;
}

.img-apartment {
    width: 100%;
    height: 200px;
}

// Sponsorship Utilities
.card-hover {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

// icon filters
.invert {
    filter: invert(100%);
}

// Cursor form color 
input, textarea {
    caret-color: $primary-pink;
}

.suggestions{
cursor: pointer;
padding: 10px 5px;
border-bottom: 1px solid grey;
}

.custom-control-input:checked ~ 
.custom-control-label::before {
      border-color: $primary-pink !important;
      background-color: $primary-pink !important;
  }
  .custom-control-input:focus ~ 
          .custom-control-label::before {
            border-color: $primary-pink !important;
            box-shadow:
                  0 0 0 0rem rgba(0, 0, 0, 0) !important;
            }